.appointments {
  max-width: 900px; /* Increased width */
  margin: 40px auto; /* Added more margin */
  padding: 40px; /* Increased padding */
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  color: #000;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.appointments h1 {
  text-align: center;
  color: #333;
}

.appointments-container {
  display: flex;
  
  gap: 30px; /* Spacing between the form and the list */
  margin: 20px; /* Margin around the container */
}

.form-container {
    width: 1000px;
    color: #363636;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  flex: 1; /* Allow the form to take up some space */
  max-width: 400px; /* Limit the width of the form */
}

.appointments-list {
    margin-left: 190px;
    width: 500px;
  flex: 2; /* Allow the list to take up the remaining unused area */
  border: 2px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.appointments-list h2 {
  text-align: center;
  color: #333;
}

.appointments-list ul {
  list-style-type: none;
  padding: 0;
}

.appointments-list li {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
  background-color: #fff;
  color: #333;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

form {
    background-color: #f9f9f9;
  margin-bottom: 20px;
}

form div {
  margin-bottom: 15px;
}

form label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

form input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff; /* Set background color to white */
  border: 1px solid #585757; 
  color: #000; /* Set text color to black */
}

form button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

form button:hover {
  background-color: #0056b3;
}

h2 {
  margin-top: 20px;
  color: #333;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
  background-color: #fff;
  color: #333;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nav-bar {
  background-color: #f5f3f3; /* Same color as the landing page */
  color: rgb(13, 13, 184);
}

.footer {
  height: 80%; /* Decreased height by 20% */
}
